@using SimpleFeed.Data.Configuration
@model SimpleFeed.Core.FeedEntries.ExternalLinkFeedEntry
@inject IPersistenceConfiguration Configuration

<img src="@Configuration.GetRelativePathForUrlSnapshot(Model)"/>
<div class="external-link-url">
    <a href="@Model.LinkAddress">@Model.LinkAddress</a>
</div>