@model SimpleFeed.Models.FeedViewModels.AddExternalLinkViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add external content</h2>

@using (Html.BeginForm("AddExternalLink", "Feed", null, FormMethod.Post, true, new { id = "external-link-form" }))
{
    <div>
        <div>
            <p>Title:</p>
            <input type="text" asp-for="Title"/>
            <p>Description:</p>
            <input type="text" asp-for="Description"/>
            <p>URL:</p>
            <input type="text" asp-for="LinkAddress"/>
        </div>
    </div>
    <div>
        <div>
            <button id="external-link-submit" type="submit" class="reversed" value="Add">Add</button>
        </div>
    </div>

    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded",
            function() {
                    document.getElementById('external-link-form').addEventListener('submit', function(e) {
                        $.ajax({
                            async: true,
                            url: this.action,
                            type: this.method,
                            dataType: "json",
                            data: $(this).serialize(),
                            success: function(result) {
                                if (!result.success) return;
                                window.location = '/Feed/GetEntry?entryId=' + result.entryId;
                            }
                        });
                        e.preventDefault();
                        showLoader('Generating screenshot...');
                    });
            });
    </script>
}
