@model dynamic

@{
    Layout = "_Layout";
}

<h1>What will you share today?</h1>

<div id="choose-entry-container">
    <div class="choose-entry left">
        <a asp-controller="Feed" asp-action="AddUploadedImageForm">
            <img src="~/images/icons/ico-uploaded_image_large.png"/>
            <div class="choose-entry-text">An uploaded image...</div>
        </a>
    </div>
    <div class="choose-entry right">
        <a asp-controller="Feed" asp-action="AddExternalLinkForm">
            <img src="~/images/icons/ico-external_link_large.png" />
            <div class="choose-entry-text">An external link...</div>
        </a>
    </div> 
</div>