@model SimpleFeed.Models.FeedViewModels.AddUploadedImageViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add image content</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Feed" asp-action="AddUploadedImage">
    <div>
        <div>
            <p>Title:</p>
            <input type="text" asp-for="Title" />
            <p>Description:</p>
            <input type="text" asp-for="Description" />
        </div>
        <div>
            <p>Image to upload:</p>
            <input type="file" asp-for="Image"/>
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
