@model SimpleFeed.Models.FeedViewModels.AddUploadedImageViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<form method="post" enctype="multipart/form-data" asp-controller="Feed" asp-action="AddUploadedImage">
    <div>
        <div>
            <p>Upload one or more files using this form:</p>
            <input type="file" asp-for="Image" />
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Upload" />
        </div>
    </div>
</form>
