@using SimpleFeed.HtmlHelpers
@model SimpleFeed.Core.FeedEntries.Base.FeedEntryBase

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

@Html.FeedEntryPartialFor(Model)
