@using SimpleFeed.HtmlHelpers
@model SimpleFeed.Core.FeedEntries.Base.FeedEntryBase

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<div>@Model.CreationDate</div>
<div>@Model.Description</div>

@Html.FeedEntryPartialFor(Model)
