@using SimpleFeed.Core.FeedEntries.Base
@using SimpleFeed.Data.OperationResults
@model PersistenceOperationResult<PaginatedResult<FeedEntryBase>>

@{
    Layout = "_Layout";
}

@{
    if (!Model.WasSuccessful)
    {
        <p>Whoops, something went wrong!</p>
    }
    else
    {
        foreach (var result in Model.Output.Result)
        {
            @Html.Partial("_FeedIndexElementPartial", result)
        }
    }
}
