<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>SimpleFeed - simple content aggregator</title>

    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div id="navigation">
    <div id="navigation-container">
        <ul id="logo-container">
            <li>
                <a asp-controller="Feed" asp-action="Index">
                    <img id="logo" src="~/images/logo.png"/>
                </a>
            </li>
        </ul>
        @await Html.PartialAsync("_LoginPartial")
        <ul>
            <li>
                <a asp-controller="Feed" asp-action="Index">Recent shares</a>
            </li>
            <li>
                <a asp-controller="Feed" asp-action="AddFeedEntryForm">Share something</a>
            </li>
            <li>
                <a asp-controller="Feed" asp-action="TopTen">TOP 10</a>
            </li>
            <li>
                <a asp-controller="User" asp-action="Index">Users</a>
            </li>
        </ul>
    </div>
</div>
<div id="content-container">
    @RenderBody()
    <footer>
        <p>&copy; 2016 - SimpleFeed</p>
    </footer>
</div>

@Html.Partial("_LoaderOverlay");

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-timeago/jquery.timeago.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/animations.js" asp-append-version="true"></script>

@RenderSection("scripts", required: false)
</body>
</html>
