@using Microsoft.AspNetCore.Identity
@using SimpleFeed.Core.User

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
        <ul class="logon-nav">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">
                    <img id="logon-nav-avatar" src="~/images/user_default.png" />
                    @UserManager.GetUserName(User)
                </a>
            </li>
            <li>
                <button type="submit">Log off</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="logon-nav">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
