/* CSS reset */

ul, li, a, img, body, footer {
    padding: 0;
    margin: 0;
}


/* General tags */

* {
    font-family: 'Titillium Web', sans-serif;
    color: rgba(59, 72, 176, 1);
    font-size: 13px;
}

input,
select,
textarea {
    max-width: 300px;
}

h2 {
    font-weight: 300;
    font-size: 32px;
}

img {
    max-width: 100%;
}

/* Utils */

.left {
    float: left;
}

.right {
    float: right;
}


/* Navigation */

#navigation {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 10px 0;
    z-index: 10;
    background-color: white;
    -webkit-box-shadow: 0px 3px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 8px -5px rgba(0,0,0,0.75);
}

#navigation-container {
    margin: 0 15%;
}

#navigation ul {
    height: 64px;
    float: right;
    margin: 0 15px;
}

#navigation li {
    float: left;
    margin-left: 10px;
    padding: 0 5px;
    list-style: none;
    line-height: 62px;
}

#navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(59, 72, 176, 1);
}

#navigation li a:visited {
    color: rgba(59, 72, 176, 1);
}

#logo {
    max-height: 64px;
    float: left;
}

ul#logo-container {
    float: left;
}

#navigation .logon-nav {
    border-left: 1px solid rgb(110, 118, 177);
    padding-left: 15px;
}

#logon-nav-avatar {
    max-height: 42px;
    padding: 8px 10px 8px 0;
    float: left;
}


/* Content */

#content-container {
    max-width: 70%;
    padding: 35px 17.5%;
    margin: 94px auto 0 auto;
    position: relative;
}