/* CSS reset */

ul, li, a, img, body, footer {
    padding: 0;
    margin: 0;
}


/* General tags */

* {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(37, 149, 255);
    font-size: 13px;
}

input,
select,
textarea {
    max-width: 300px;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

h2 {
    font-weight: 300;
    font-size: 32px;
    padding: 35px 45px 15px 45px;
}

img {
    max-width: 100%;
}

button {
    background-color: white;
    border-width: 0;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
    background-color: #eceaff;
}

input {
    border: none;
    border-bottom: 2px solid rgb(126, 191, 253);
    margin-bottom: 15px;
    font-size: 20px;
}

input:focus {
    outline: none;
    border-bottom: 3px solid rgb(79, 169, 255);
}

input[type="file"] {
    font-size: 13px;
    padding: 5px;
}

form {
    font-weight: 300;
    font-size: 32px;
    padding: 0 45px 15px 45px;
}

/* Utils */

.left {
    float: left;
}

.right {
    float: right;
}

.right-text {
    text-align: right;
}


/* Navigation */

#navigation {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
    -webkit-box-shadow: 0px 3px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 8px -5px rgba(0,0,0,0.75);
}

#navigation-container {
    margin: 0 15%;
}

#navigation ul {
    height: 64px;
    float: right;
    margin: 0 15px;
}

#navigation li {
    float: left;
    margin: 0 5px;
    padding: 0 5px;
    list-style: none;
    line-height: 62px;
}

#navigation li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(37, 149, 255);
}

#navigation li a:visited {
    color: rgb(37, 149, 255);
}

#logo {
    max-height: 64px;
    float: left;
}

ul#logo-container {
    float: left;
}

#navigation #logon-nav {
    padding: 0 12px;
    background-color: rgb(37, 149, 255);
}

#navigation #logon-nav a {
    color: white;
}

#logon-nav-avatar {
    max-height: 42px;
    padding: 11px 10px 8px 0;
    float: left;
}

#logged-user {
    line-height: 13px;
    float: left
}

#logged-user-name {
    position: relative;
    top: 19px;
}

#logged-user-email {
    color: white;
    position: relative;
    top: 18px;
    font-size: 11px;
}

#logoutForm {
    padding: 0;
}

/* Content */

#content-container {
    max-width: 1024px;
    padding: 35px 17.5%;
    margin: 94px auto 0 auto;
    position: relative;
}

.feed-entry {
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.1);
    margin-bottom: 45px;
    padding-bottom: 55px;
}

.feed-entry-title {
    font-weight: 300;
    font-size: 42px;
    padding: 15px 45px 25px 45px;
    display: inline-block;
}

.feed-entry-title a {
    font-weight: 300;
    font-size: 42px;
    text-decoration: none;
}

.feed-entry-title a:hover {
    text-decoration: none;
    color: #7a9fd2;
}

.feed-entry-createdby {
    padding: 25px
}

.feed-entry .timeago {
    display: inline-block;
    float: right;
}

.feed-entry-author {
    display: inline-block;
}

.feed-entry-author img {
    float: left;
    max-height: 32px;
    padding: 0 10px 0 0;
    margin-top: -5px;
}

.feed-entry-desc {
    padding: 25px 107.5px;
    background-color: rgb(37, 149, 255);
    color: white;
    font-size: 14px;
}

.feed-entry-rating {
    min-height: 32px;
    position: relative;
    float: right;
    margin: 25px 55px 0 0;
}

.feed-entry-votes-wrapper {
    display: inline-block;
    float: left;
    padding: 0 25px 0 8px;
    position: relative;
    top: 12px;
}

.feed-entry-votes-wrapper img {
    display: inline-block;
    height: 16px;
    width: 16px;
}

.feed-entry-votes-wrapper div {
    height: 16px;
}

.feed-entry-votes-wrapper form {
    padding: 0;
}

.vote-img-wrapper {
    text-align: center; 
}

.vote-img-wrapper button {
    padding: 0;
}

.feed-entry-votescount {
    line-height: 16px;
    text-align: center;
}

button.reversed {
    width: 190px;
    background-color: rgb(37, 149, 255);
    color: white;
}

/* Feed entries - type specific */

.feed-entry-type {
    display: block;
    position: relative;
    margin: -35px 0 25px 95px;
    width: 100px;
    font-size: 12px;
}

.feed-entry-type img {
    width: 12px;
    height: 12px;
    margin: 0 5px 0 0;
}

.feed-entry-type span {
    font-size: 11px;
}

.uploaded-image-entry {
    width: 100%;
}

.external-link-url {
    float: right;
}

.external-link-url a {
    padding: 15px 35px;
    top: 10px;
    position: relative;
}

/* General feed entries */

#choose-entry-container {
    height: 400px;
    width: 80%;
    margin: 85px auto 0 auto;
}

#choose-entry-container a {
    text-decoration: none;
}

#choose-entry-container img {
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

#choose-entry-container img:hover {
    opacity: 0.5;
}

.choose-entry {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
    text-align: center;
}

.choose-entry-text {
    margin-top: 20px;
    font-size: 20px;
    width: 240px;
    margin: 40px auto;
    border: 1px solid rgb(37, 149, 255);
    text-align: center;
    border-radius: 25px;
    padding: 2.5px 0;
}