@model SimpleFeed.Core.FeedEntries.ExternalLinkFeedEntry

<tr>
    <td>
        <img src="~/images/icons/ico-entries.png" />
        Added external link called @Html.ActionLink(Model.Title, "GetEntry", "Feed", new {entryId = Model.Id})
        <div class="activity-creation-date">@Model.CreationDate.ToString("G")</div>
    </td>
</tr>
